html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0; 
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}
 
.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	width: auto;
	height: auto;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;
}

a{
    color: #E7F0F8;
}

a:link{
    text-decoration: none;

}


.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-colum{
	display: flex;
	flex-direction: column;
}

.container{
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Black{
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}

.Text_Medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.header{
	background-color: #227598;
	height: auto;
   	/* border-bottom: 1px solid #21f391; */
   	position: fixed; /* Fija el encabezado en la parte superior */
   	top: 0;
   	width: 100%;
   	z-index: 100;
   	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   	left: 0%;
   	padding: 0%;
   	height: 70px;
}

.head_Cont{
	justify-content: space-around;
}


.head_Ref{
	margin-left: 30px;
}

.head_Ref_Text{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.head_Ref_Link{
	transition: color 0.5s ease;

}

.head_Ref:hover{
	.head_Ref_Link{
		color: #7dcde3;
	}
}

.head_Acceso_link{
	transition: color 0.5s ease;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.head_Acceso{
	padding: 10px;
	border: 1px solid #57bfd9;
	border-radius: 15px;
	margin-right: 0px;
}

.head_Acceso:hover{
	.head_Acceso_link{
		color: #57bfd9;
	}
}

.head_Cont_list_acceso{

	width: 100%;
	margin-right: 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.dcuervo{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
	background-repeat: no-repeat;
	margin:70px 0% 0px 0%;
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.Dcuervo_slider {
    display: flex;
    overflow: hidden;
    width: 100%;
	height: 600px;
	padding: 0px;

}

.Dcuervo_img_carrusel{
	width: 1200px;
	height: 600px;
	top: 0%;
}

.Dcuervo_slide {
	top: 0%;
    flex: 0 0 100%;
    width: 100%;
	height: 600px;
    transition: transform 0.5s ease;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin:0px 0% 0px 0%;
  }

.Dcuervo_Img{
	position: absolute;
    top:35%;
    transform: translateY(-50%);
}

.Dcuer_container{
	align-items: center;
	width: 100%;
}

.Dcuer_Cont_Button{
	margin: 100px;
	width: 500px;
	height: 70px;
	justify-content: space-between;
	
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Dcuer_button{
	background-color: #57bfd9;
	width: 200px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;

}

.Dcuer_button:hover{
	transform: scale(1.1);
	background-color: #227598;
	color: white;
}

.Dcuervo_Text_Button{
	font-size: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Qsomos{
	width: auto;
	height: auto;
	margin-top: 10px;
}

.Qsomos_Cont_En{
	width: 610px;
	align-items: center;
}

.Qsomos_Cont_Sec1{
	width: 100%;
	margin: 0px;
	height: 480px;
}

.Qsomos_tittle{
	margin-top: 50px;
}

.Qsomos_Subtittle{
	margin-top: 20px;
	color: #7DCDE3;
	font-size: 40px;
	width: 480px;
	text-align: center;
}

.Qsomos_Text_Sec1{
	margin-top: 60px;
	width: 480px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 24px;
	text-align: end;
}

.Qsomos_Cont_Sec2{
	width: 100%;
	margin: 0px;
	height: 480px;
	margin-top: 10px;
}

.Qsomos_Cont_Nu{
	width: 100%;
	align-items: center;
	margin-right: 10px;
	background-color: #227598;
}

.Qsomos_Text_Sec2{
	margin-top: 40px;
	width: 480px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 24px;
	color: #E7F0F8;
}

.Qsomos_Subtittle_Sec{
	margin-top: 30px;
	color: #7DCDE3;
	font-size: 40px;
	width: 480px;
	text-align: center;
	width: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Corp_list{
	margin-top: 120px;
	display: flex;
    flex-wrap: wrap;
    gap: 80px;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.Corp_title{
	margin-top: 50px;
	color: #7DCDE3;
	font-size: 32px;
}

.Corp_Subtittle{
	margin-top: 10px;
	color: #227598;
	font-size: 48px;
}

.Corp_cont_animation{
	width: 100%;
	justify-content: space-around;
	position: relative;
	z-index: 1;
	margin-top: 50px;
	align-items: end;
}


.cont_Car{
	transition:  transform 5s;
	position: absolute;
	z-index: 2;
	left: 7%;
	top: 18%;
}
.car{
	transform: scalex(-1);
}

.Corp_cont_animation:hover{
	.cont_Car{
		transform: translatex(1000px);
	}
	.car{
		transform: scaleX(1);
	}
}


.line{
	width: 60px;
	height: 3px;
	background-color: black;
}


.Corp_Card_Fondo{
	background-color: #7DCDE3;
	height: 250px;
	width: 100%;
	z-index: 0;
	margin-left: 5px;
	margin-right: 5px;
	position: absolute;
	margin-top: 350px;
	border-radius: 500px 0px;
	
}





.Corp_Card{
	width: 260px;
	height: 320px;
	background-color: #227598;
	border-radius: 20px 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 0;
	transition: background-color transform 0.5s ease;
	transition: transform 0.5s ease;

}

.Corp_Card_Prop{
	width: 100%;
	padding: 0px 20px 0 20px;
	height: auto;
	justify-content: space-between;
	/* border: 1px solid black; */
	margin-top: 10px;
}

.Corp_Card_Text{
	width: 200px;
}

.Corp_Card_Num{
	color: #7DCDE3;
	font-size: 35px;
	transition: color 0.5s ease;

}

.Corp_Card_tittle{
	color: white;
  	font-size: 20px;
	width: 125px;
	transition: color 0.5s ease;
}

.Corp_Card_Text{
	margin-top: 10px;
	color: white;
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: italic;
	width: 100%;
}

.svg{
	transition: stroke 0.5s ease;
}

.svgfill{
	transition: fill 0.5s ease;
}

.Corp_Card:hover{
	background-color: #57bfd9;
	transform: scale(1.1);
	.Corp_Card_tittle{
		color: #227598;
	}
	.Corp_Card_Num{
		color: #227598;
	}
	.svg{
		stroke: #227598;	
	}
	.svgfill{
		fill: #227598;
	}
}


/* ////////////////////////////////////////////////////////////////////////////////// */

.Nos_Container{
	align-items: center;
	height: 100%;
	margin-right: 30px;
}

.Nos_Cont_Color{
	background-color: #227598;
	margin-top: 70px;
	width: 100%;
	height: 700px;
}

.Nos_Cont_info{
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #57bfd9;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;

}



.Nos_Text_Cont{
	font-size: 36px;
	color: white;
	position: absolute;
	z-index: 2;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.Nos_Text_Vision{
	width: 350px;
	text-align: center;
	color: white;
	opacity: 0;
	transition: opacity 0.5s ease;
	font-size: 20px;
}

.Nos_Cont_info:hover{
	transform: scale(1.05);	.Nos_Text_Vision{
		opacity: 1;

	}

	.Nos_Text_Cont{
		opacity: 0;
	}
}


.Nos_Cont_Ref{
	width: 300px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #57bfd9;
	margin-bottom: 50px;
	margin-left: 450px;
	border-radius: 20px;
	transition: transform 0.5s ease;
}

.Nos_Ref{
	font-size: 28px;
	transition: color 0.5s ease;
}

.Nos_video{
	width: 700px;
	height: 400px;
	margin-top: 110px;
	margin-left: 20px;
}

.Nos_Cont_Ref:hover{
	transform: scale(1.1);
	.Nos_Ref{
		color: #227598;
	}
}



/* ////////////////////////////////////////////////////////////////////////////////// */

.Flo_Cont_Info{
	width: 331PX;
	align-items: center;
	margin-top: 0px;
}

.Flo_info_Tittle{
	font-size: 64px;
	color: #7DCDE3;
}

.Flo_info_Subtittle{
	font-size: 32px;
	color: #227598;
}

.Flo_info_Text{
	font-size: 24px;
	color: #227598;
	margin-top: 60px;
	text-align: center;
	font-family: "Roboto", sans-serif;
  	font-weight: 300;
  	font-style: italic;
}

.Flo_Line{
	height: 500px;
	width: 7px;
	background-color: #227598;
	margin-top: 90px;
}

.Flo_Item{
	margin-top: 20px;
	width: 500px;
	justify-content: space-around;
}

.Flo_list{
	margin-top: 60px;
}

.Flo_Veh_Tittle{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: italic;
	color: #7DCDE3;
	font-size: 20px;
}

.Flo_Veh_Subtittle{
	color: #227598;
	font-size: 20px;
}

.Flo_Cont_Text{
	align-items: center;
}

.Flo_Button{
	border: none;
	background-color: transparent;
	transition: transform 0.5s ease;
}

.Flo_Button:hover{
	transform: scale(1.2);
}

.Flo_Modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}

.Flo_modal_content{
	margin: 0 auto;
	padding: 0 30px 0 50px;
	width: 610px;
	height: 540px;
	/* background-color: #effafc; */
	background-color: white;
	justify-content: space-around;
	position: absolute;
	z-index: 4;
	right: 50%;
	top: 14%;
	border-radius: 10px;
}

.close {
	color: #aaa;
	float: right;
	height: 100px;
	margin-top: 10px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.Flo_modal_tittle{
	font-size: 64px;
	color: black;
	margin-top: -100px;
}

.Flo_modal_sudtitle{
	margin-top: -45px;
	padding-left: 5px;
}

.Flo_modal_sub{
	color: #839DD1;
	font-size: 32px;
}

.Flo_modal_text{
	color: black;
	font-size: 24px;
}

.Flo_modal_Cont{
	width: 500px;
	justify-content: start;
	position: relative;
	z-index: 2;
}

.Flo_modal_content_x{
	width: 100%;
	display: flex;
	justify-content: end;
	margin-top: -30px;
}

.Flo_modal_Image{
	width: 800px;
	height: 575px;
	position: absolute;
	z-index: 3;
	top: 18%;
	left: 48%;
}

.Flot_modal_cont_hiper{
	width: 450px;
	height: 70px;
	display: flex;
	justify-content: center;
	margin-right: 30px;
	margin-bottom: 30px;
	align-items: center;
	background-color: #57bfd9;
	border-radius: 20px;
	transition: transform 0.5s ease;
}

.Flo_modal_Cont_h{
	justify-content: space-around;
	align-items: center;
}

.Flo_modal_hiper{
	font-size: 28px;
	transition: color 0.5s ease;
}

.Flot_modal_cont_hiper:hover{
	transform: scale(1.1);
	.Flo_modal_hiper{
		color: #227598;
	}
}

/* ////////////////////////////////////////////////////////////////////////////////// */
	
.float_Wha{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
  	transition: transform 0.5s ease;
}
.float_IL{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:120px;
	background-color:#0077B5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
  	z-index:100;
  	transition: transform 0.5s ease;

}

.float_IL:hover {
	transform: scale(1.1);
}

.float_Wha:hover{
	transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */


/* Modal styles */
.modalCo {
	display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-contentCo {
    background-color: #227598;
    margin: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    text-align: center;
	overflow-y: auto; 
}

.modal_header{
	margin-top: 0px;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
}

.Cont_Coo{
	width: 100%;
	height: 90px;
	align-items: start;
	padding: 20px;

}

.cont_Text_Parr_acor{
	color: white;
	padding: 0px;
	margin-top: 20px;
	text-align: start;
	padding-left: 20px;
	padding-right: 20px;

	line-height: 1.5;

}

.cont_Text_Parr_largo{
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	display: flex;
	text-align: start;
	line-height: 2;
}

.espacio{
	margin-top: 15px;
}

.hidden{
	display: none;
}

.cont_Button_Info{
	padding: 0%;
}

.ButtonCookies{
	width: 34%;
	height: 45px;
	background-color: transparent;
}

.Cam_Botton{
	background-color: transparent;
	border-radius:none;
	width: 140px;
	margin: 0%;
	padding: 0%;
	margin-top: 20px;
	color: white;
	transition: color 0.5s;
}

.Cam_Botton:hover{
	color: #7dcde3;

}


.modal_Tittle{
	margin-bottom: 20px;
	color: white;
}

.cont_Button_Permi{
	width: 100%;
	margin-top: 20px;
	padding-bottom: 50px;
	justify-content: space-around;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#acceptCookies {
	background-color: #57bfd9;
    color: white;
	transition: background-color 0.5s,transform 0.5s, color 0.5s;
	/* transition: transform 0.5s ease; */


	
}

#acceptCookies:hover{
	background-color: white;
	color: #57bfd9;
	transform: scale(1.1);
}

#rejectCookies {
    color: white;
	background-color: #57bfd9;
	transition: background-color 0.5s,transform 0.5s, color 0.5s;

}

#rejectCookies:hover{
	transform: scale(1.1);
	background-color: #57bfd9 ;
	background-color: white;
	color: #57bfd9;
	transform: scale(1.1);
}


/* ////////////////////////////////////////////////////////////////////////////////// */
footer{
	width: 100%;
	height: 260px;
	background-color: #227598;
	padding: 0%;
	margin-top: 50px;
}

.Foo_Cont_Info1{
	align-items: start;
	height: 100%;
}

.Foo_Cont_Call{
	width: 100%;

}

.Foo_Text_Line{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Text_Call{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_Info2{
	align-items: start;
	height: 100%;
}

.Foo_Info2_Tittle{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Info2_Item{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_contac{
	align-items: end;
	width: 100px;
}

.container_footer{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Pqr{
	margin-top: 20px;
	line-height: 1.2;
}

.Defi_list{
	margin-left: 20px;
	margin-top: 10px;
}

.pqr_Form{
	color: black;
	transition: color 0.5s ease;
}

.pqr_Form:hover{
	color: #57bfd9;
}

.Sepa{
	margin-left: 5px;
}

.Cot_title_Pol{
	width: 80%;
	display: flex;
	justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Final{
	width: 100%;
	background-color: #227598;
	height: 50px;
	border-top: 2px solid #57bfd9;
}

.Final_Text{
	color: white;
	font-size: 14px;
}

.Foo_Cont_sgv_contac{
	align-items: center;
	width: 20%;
	justify-content: space-around;
}

.Ref_Final{
	background-color: transparent;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	text-align: start;
	padding: 0;
}

.Foo_Info2_Item:hover{
	color: #57bfd9;
	fill: #57bfd9;
}

.Tra_text,.Ter_Cont{
	margin-top: 20px;
}


.modal_Ter, .modal_aut, .modal_Pol {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Contenido del modal */
  .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
	background-color: #fefefe;
	margin: 6% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	overflow-y: auto;
	height: 650px;

  }
  
  /* Botón de cierre */
  .close_Ter, .close_aut, .close_Pol {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close_Ter:hover,
  .close_Ter:focus,
  .close_aut:hover,
  .close_aut:focus,
  .close_Pol:hover,
  .close_Pol:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
  }


  /* Imagen del modal */
  #modal-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
  }

  .Trb_Cont_Button{
	position: absolute;
	z-index: 3;
	top: 406px;
	right: 50px;
	text-align: start;
}
  

.Req_list{
	list-style: disc;
}

.Req_text{
	margin-top: 15px;
}

.Req_Cont{
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Ter_Cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Ter_text{
	width: 90%;
	margin-top: 15px;
}
