html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0; 
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}
 
.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	width: auto;
	height: auto;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;
}

a{
    color: #E7F0F8;
}

a:link{
    text-decoration: none;

}


.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-colum{
	display: flex;
	flex-direction: column;
}

.container{
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Black{
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}

.Text_Medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
.header {
            background-color: #227598;
            height: 70px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            left: 0;
        }

        .head_Cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .logo-container {
            z-index: 101;
        }

        .logo-container img {
            width: 137px;
            height: auto;
        }

        /* Menú hamburguesa */
        .menu-toggle {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            z-index: 101;
        }

        .menu-toggle span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 5px 0;
            transition: 0.3s;
        }

        .menu-toggle.active span:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .menu-toggle.active span:nth-child(2) {
            opacity: 0;
        }

        .menu-toggle.active span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }

        /* Navegación */
        .nav-wrapper {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .list {
            list-style: none;
            display: flex;
            align-items: center;
        }

        .head_Ref {
            margin-left: 30px;
        }

        .head_Ref_Link {
            color: #fff;
            text-decoration: none;
            transition: color 0.5s ease;
        }

        .head_Ref_Text {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            margin: 0;
        }

        .head_Ref:hover .head_Ref_Link {
            color: #7dcde3;
        }

        .head_Acceso {
            padding: 10px 20px;
            border: 1px solid #57bfd9;
            border-radius: 15px;
            margin-left: 20px;
        }

        .head_Acceso_link {
            color: #fff;
            text-decoration: none;
            transition: color 0.5s ease;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .head_Acceso_link p {
            margin: 0;
        }

        .head_Acceso:hover .head_Acceso_link {
            color: #57bfd9;
        }

/* ////////////////////////////////////////////////////////////////////////////////// */

.Cont_Tittle{
    width: 100%;
    margin-top: 65px;
    justify-content: space-around;
    align-items: center;
}

.Cont_Tittle_Text{
    font-size: 48px;
}

.form{
	width: 100%;
}

.Cont_Formulario{
    width: 100%;
    justify-content: space-around;
	
}

.Cont_Form_Item{
	width: 100%;
	justify-content: space-around;
	align-items: end;
	margin-top: 30px;
}

.cont_Formu{
    width: 627px;
    /* height: 440px; */
    margin-top: 45px;
    border-radius: 20px;
    align-items: start;
	border: 1px solid black;

}

.Cont_Formu_Tittle{
    width: 100%;
    height: 60px;
    background-color: #227598;
    display: flex;
    align-items: center;
	justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

.Formu_Text{
    color: white;
    font-size: 30px;
    margin-left: 30px;
	
}

.Cont_Item{
    width: 627px;
    justify-content: space-around;
    align-items: end;
    margin-top: 40px;
}

.Cont_Images{
	align-items: center;
	height: auto;
}

.Cont_Label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    color: #227598;
	
}

.Cont_select{
    margin-top: 10px;
}

.select{
	border: none;
	color: #767676;
	font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
    width: 270px;
    margin-top: 10px;
    border-bottom: 1px solid black;


}

.Text_Option{
	font-weight: 500;
    font-style: italic;
    font-size: 13px;
    font-family: "Roboto", sans-serif;

}

.cont_But_Form{
	margin-top: 20px;
	margin-bottom: 20PX;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.Cont_Button{
    width: 250px;
    height: 50px;
    background-color: #227598;
    color: white;
    border: none;
    border-radius: 10px;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;

}

.Cont_Button:hover{
	transform: scale(1.1);
	background-color: #57bfd9;
}


.Cont_Button_PQR{
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;

}

.Cont_TextTarea{
	height: 100px;
	width: 80%;
    resize: none;
    overflow: auto;
	margin-top:15px;
	color: #767676;
	font-size: 12px;
	

}

.Cont_Form_Text{
	margin-top: 40px;
	width: 100%;
	align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Cont_Botelin{
	width: 460px;
	height: 130px;
	background-color: #7DCDE3;
	border-radius: 40px;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	transition: background-color 0.5s ease;
}

.Cont_Bot_text{
	color: white;
	font-size: 16px;
	width: 380px;

}

.Cont_Bot_Button{
	margin-top: 20px;
	height: 40px;
	width: 180px;
	border-radius: 20px;
	color: #7DCDE3;
	background-color: #227598;
	border: none;
	font-size: 16px;
}

.Cont_Botelin:hover{
	background-color: #227598;
	.Cont_Bot_Button{
		background-color: #7DCDE3;
		color: #227598;
	}
}

.Cont_Modal {
	position: fixed;
	bottom: 0;
	left: 0;
	padding-top: 20px;
	width: 100%;
	background-color: transparent;
	display: none;
	justify-content: center;
}

.modal-content {
	background-color: transparent;
	border-radius: 10px;
	height: 350px;
	width: 1500px;
	text-align: center;
}

.Cont_Font_Modal{
	width: 100%;
	height: 100%;
	background-color: #227598;
	border-radius: 220px 220px 0 0;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
	align-items: center;
	padding: 0;
	position: relative;
	z-index: 0;

}

.Text_tittle{
	color: white;
	width: 600px;
	margin: 20px auto 0px auto;
	font-size: 30px;
	transition: transform 0.5s ease;
}

.Text_tittle:hover{
	transform: scale(1.1);
}

.cont_Input_boletin{
	margin-top: -20px;
	justify-content: center;
	align-items: start;
}

.form_Form{
	margin: 40px auto 0px auto;
	width: 100%;
	padding: 0 60px 0 60px;
}

.Cont_form{
	justify-content: space-around;
}

.Text_Termi{
	text-align: start;
	font-size: 15px;
	margin-left: 5px;
}

.Cont_check{
	align-items: start;
	width: 80%;
}

.Cont_Termi{
	justify-content: space-around;
	width: 80%;
	align-items: center;
	margin-top: 10px;
	color: white;
	margin: 60px auto 0 auto;
}

.Cont_Input{
	align-items: start;
	font-size: 14px;
	width: 270px;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;


}

.Cont_Input::placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

.Cont_Input::-webkit-input-placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

.Cont_Input::-moz-placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

.Cont_Input:-ms-input-placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

.Cont_Close{
	position: absolute;
	z-index: 2;
	right: 160px;
	top: 10px;
	cursor: pointer;

}
.close{
	font-size: 30px;
}

.Cont_Close:hover{
	color: #57bfd9;
}

.But_Form{
	width: 300px;
	height: 50px;
	border-radius: 20px;
	border: none;
	font-size: 20px;
	transition: transform 0.5s ease;
	background-color: #57bfd9;
	color: white;
}

.But_Form:hover{
	transform: scale(1.1);
	background-color:#7DCDE3;
}

.Cont_Button_Form{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.Text_Form_Input{
	color: white;
}

.Input_Form{
	width: 265px;
	margin-top: 10px;
	height: 35px;
	border-radius: 5px;
	border: none;
	transition: border 0.5s ease;
}

.Input_Form:hover{

}

/* ////////////////////////////////////////////////////////////////////////////////// */
footer{
	width: 100%;
	height: 260px;
	background-color: #227598;
	padding: 0%;
	margin-top: 50px;
}

.Foo_Cont_Info1{
	align-items: start;
	height: 100%;
}

.Foo_Cont_Call{
	width: 100%;

}

.Foo_Text_Line{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Text_Call{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_Info2{
	align-items: start;
	height: 100%;
}

.Foo_Info2_Tittle{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Info2_Item{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_contac{
	align-items: end;
	width: 100px;
}

.container_footer{
	/* width: 100%;
	height: 100%; */
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Pqr{
	margin-top: 20px;
	line-height: 1.2;
}

.Defi_list{
	margin-left: 20px;
	margin-top: 10px;
}

.pqr_Form{
	color: black;
	transition: color 0.5s ease;
}

.pqr_Form:hover{
	color: #57bfd9;
}

.Sepa{
	margin-left: 5px;
}

.Cot_title_Pol{
	width: 80%;
	display: flex;
	justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////// */



.float_Wha{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
	transition: transform 0.5s ease;
}

.fa-whatsapp{
	border: 1px soldi black;
}
.float_IL{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:120px;
	background-color:#0077B5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
	transition: transform 0.5s ease;
	
}

.float_IL:hover {
	transform: scale(1.1);
}

.float_Wha:hover{
	transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Final{
	width: 100%;
	background-color: #227598;
	height: 80px;
	border-top: 2px solid #57bfd9;
}


.con_final{
	justify-content: space-around;
	align-items: center;
}

.Final_Text{
	color: white;
	font-size: 14px;
}

.Foo_Cont_sgv_contac{
	align-items: center;
	width: 20%;
	justify-content: space-between;
}



.imgSuper{
	background-image: url('../images-videos/Supertransporte.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 180px;
	height: 101px;
}

.Ref_Final{
	background-color: transparent;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	text-align: start;
	padding: 0;
}

.Foo_Info2_Item:hover{
	color: #57bfd9;
	fill: #57bfd9;
}

.Tra_text,.Ter_Cont{
	margin-top: 20px;
}


.modal_Ter, .modal_aut, .modal_Pol {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Contenido del modal */
  .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
	background-color: #fefefe;
	margin: 6% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	overflow-y: auto;
	height: 650px;

  }
  
  /* Botón de cierre */
  .close_Ter, .close_aut, .close_Pol {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close_Ter:hover,
  .close_Ter:focus,
  .close_aut:hover,
  .close_aut:focus,
  .close_Pol:hover,
  .close_Pol:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
  }


  /* Imagen del modal */
  #modal-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
  }

  .Trb_Cont_Button{
	position: absolute;
	z-index: 3;
	top: 406px;
	right: 50px;
	text-align: start;
}
  

.Req_list{
	list-style: disc;
}

.Req_text{
	margin-top: 15px;
}

.Req_Cont{
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Ter_Cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Ter_text{
	width: 90%;
	margin-top: 15px;
}

@media (max-width: 768px) {
    .container{
        width: 768px;
    }

    /* .header{
        width: 97%;
    } */

    .menu-toggle {
                display: block;
    }

    .nav-wrapper {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #227598;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px;
        transition: left 0.3s ease;
        overflow-y: auto;
    }

    .nav-wrapper.active {
        left: 0;
    }

    .list {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .head_Ref {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(87, 191, 217, 0.2);
    }

    .head_Ref_Link {
        display: block;
        width: 100%;
    }

    .head_Acceso {
        margin: 20px auto;
        width: 80%;
        text-align: center;
    }

	.Cont_Formulario{
		flex-direction: column;
		align-items: center;
	}

	.cont_Formu{
		margin-bottom: 100px;

	}

	.Cont_form{
		flex-direction: column;
		align-items: center;


	}

	.cont_Input_boletin1{
		margin-top: 20px;
	}

	.Text_tittle{
		margin-top: 50px;
	}

	.modal-content{
		width: 100%;
		height: 100%;
		overflow: scroll;
	}

	.Cont_Font_Modal{
		height: 80%;
	}

	.Cont_Termi{
		margin-bottom: 20px;
		width: 100%;
	}

	/* Seccion footer */

	.container_footer{
        flex-direction: column;
        padding-bottom: 20px;
    }

    footer{
        height: auto;
    }

    .Foo_Maps{
        margin-top: 50px;
    }

    .Foo_Cont_sgv_contac{
        margin-left: 0px;
        width: 50%;
    }

    /* QR politica  */

    .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
        width: 90%;
        margin-top: 50px;
    }

    .modal_Ter, .modal_aut, .modal_Pol{
        top:30px;

    }


}

@media (max-width: 480px){


	.container{
        width: 480px;
    }

	.form{
		width: 100%;
	}

	.Cont_Form_Item{
		flex-direction: column;
		align-items: center;
	}

	.Cont_Input{
		margin-top: 20px;
	}

	.Cont_Label1{
		margin-top:15px ;
	}

	.Cont_TextTarea{
		width: 70%;
	}

	.cont_Formu{
		width: 90%;
		border: 1px solid black;

	}

	.Cont_Termi{
		flex-direction: column;
	}

	.Cont_Button_Form{
		margin-top: 20px;
	}

	.Text_tittle{
		width: 60%;
		font-size: 20px;
	}
}

@media (max-width: 320px){


	.container{
        width: 320px;
    }

	.Cont_Botelin{
		width: 	90%;
	}

	.Cont_Bot_text{
		width: 90%;
		text-align: center;
	}

	.Cont_Font_Modal{
		width: 90%;
	}

	.Cont_check{
		width: 100%;
		border: 1px solid black;
	}

	.float_Wha{
		margin-right: 30px;

	}

	.float_IL{
		margin-right: 20px;
	}


}