html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0;
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}

.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	width: auto;
	height: auto;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;
}

a{
    color: #E7F0F8;
}

a:link{
    text-decoration: none;

}


.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-colum{
	display: flex;
	flex-direction: column;
}

.container{
	width: 1400px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
	/* border: 1px solid black; */
}

.Text_Black{
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}

.Text_Medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
.header {
            background-color: #227598;
            height: 70px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            left: 0;
        }

        .head_Cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .logo-container {
            z-index: 101;
        }

        .logo-container img {
            width: 137px;
            height: auto;
        }

        /* Menú hamburguesa */
        .menu-toggle {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            z-index: 101;
        }

        .menu-toggle span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 5px 0;
            transition: 0.3s;
        }

        .menu-toggle.active span:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .menu-toggle.active span:nth-child(2) {
            opacity: 0;
        }

        .menu-toggle.active span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }

        /* Navegación */
        .nav-wrapper {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .list {
            list-style: none;
            display: flex;
            align-items: center;
        }

        .head_Ref {
            margin-left: 30px;
        }

        .head_Ref_Link {
            color: #fff;
            text-decoration: none;
            transition: color 0.5s ease;
        }

        .head_Ref_Text {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            margin: 0;
        }

        .head_Ref:hover .head_Ref_Link {
            color: #7dcde3;
        }

        .head_Acceso {
            padding: 10px 20px;
            border: 1px solid #57bfd9;
            border-radius: 15px;
            margin-left: 20px;
        }

        .head_Acceso_link {
            color: #fff;
            text-decoration: none;
            transition: color 0.5s ease;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .head_Acceso_link p {
            margin: 0;
        }

        .head_Acceso:hover .head_Acceso_link {
            color: #57bfd9;
        }


/* ////////////////////////////////////////////////////////////////////////////////// */

.PortServi{
    width: 100%;
    height: 349px;
    background-color: #227598;
    margin-top: 70px;
}

.Port_Cont{
    position: relative;
    z-index: 1;
	width: 100%;
	/* border: 1px solid black; */
}

.Port_Cont_Info{
    position: absolute;
    z-index: 2;
	justify-content: center;
}

.Port_Imag{
    background-image: url("../images-videos\PortServis.png");
    width: 346px;
    height: 350px;
}

.Port_Cont_Text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Port_Text1{
    width: 478px;
    font-size: 48px;
    color: white;
    text-align: center;
}

.Port_Text2{
    margin-top: 25px;
    width: 311px;
    font-size: 20px;
    color: #404040;
    text-align: center;
}

.Port_Text3{
    font-size: 25px;
    width: 350px;
    color: white;
    text-align: center;
}

.Port_Flot{
    width: 400px;
	/* border: 1px solid black; */
    height: 70px;
    background-color: #57bfd9;
    position: relative;
    z-index: 3;
    border-radius: 50px;
    top: 175px;
	margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: transform 0.5s ease;
}

.Port_Flot:hover{
	transform: scale(1.1);
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Servicios{
	position: relative;
	z-index: 1;
}

.Servi_List{
    width: 100%;
    justify-content: space-around;
    margin-top: 150px;
	margin-bottom: 150px;
}

.Servi_Item{
    width: 320px;
    height: 240px;
    background-color: #E8E8E8;
    border-radius: 20px;
    align-items: center;
	transition: transform 0.5s ease;

}

 .Servi_Item:hover{
	transform: scale(1.2);}

.Servi_Cont_Titlle{
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.Servi_Tittle{
    width: 200px;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
	color: #404040;

}

.Servi_Text_Info{
    width: 258px;
    text-align: center;
    margin-top: 40px;
	color: #404040;
}

.Servi_Cont_Ref{

    width: 100%;
    margin-top: 20px;
	z-index: 1;
}

.Servi_Button{
    background-color: transparent;
    border: none;
    margin-left: 45px;
    font-size: 20px;
    color: #7DCDE3;
	transition: color 0.5s ease;
}

.Servi_Button:hover{
	color: #227598;
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
  }

  /* Contenido del modal */
  .modal-content {
	background-color: transparent;
	margin: 0 auto;
	top: 13%;
	width: 70%;
	height: auto;
	position: relative;
  }

  /* Botón de cierre */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	z-index: 3;
	right: 2%;
	top: 2%;
  }

  .close:hover,
  .close:focus {
	color: #57bfd9;
	text-decoration: none;
	cursor: pointer;
  }

  .modal-video{
	width: 100%;
	height: 100%;

  }


/* ////////////////////////////////////////////////////////////////////////////////// */

  .cont_api{
	width: 1400PX;
	height: 500px;
	position: relative;
	z-index: 0;
	margin-bottom: 100px;
  }

  .API{
	width: 100%;
	height: 500PX;
	position: relative;
	display: flex;
	justify-content: center;
  }

  .line{
	width: 100%;
	height: 250px;
	background-color: #227598;
	position: absolute;
	z-index: 0;
	top: 25%;
	}


	.Cont_item_api{
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;

	}

	.Cont_seecion1{
		height: 300px;
		width: 600px;
		justify-content: center;
		z-index: 0;
		align-items: center;
	}

	.Text_seccion1{
		color: white;
		width: 350px;
		text-align: center;
		margin-bottom: 0;
		font-size: 26px;
	}

	.Cont_seccion_black{
		width: 100%;
		color: white;

		justify-content: space-around;

	}

	.cont_Text_api{
		margin-left: 10px;
		justify-content: center;
		align-items: center;
		width: auto;


	}

	.Cont_Black{
		justify-content: center;
		width: 220px;
		background-color: black;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
		justify-content: center;
		align-items: center;
		transition: transform 0.5s ease;
	}

	.Cont_Black:hover{
		transform: scale(1.1);
	}

	.carousel_container_img, .carousel_container_img1{
		position: relative;
		width: 200px;
		height: auto;
		margin: 0 auto;
		padding: 0%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.carousel_container_img2 {
		position: relative;
		width: 400px;
		height: auto;
		margin: 0 auto;
		padding: 0%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		/* border: 1px solid black; */
	}

	.carousel_slide_img, .carousel_slide_img1{
		display: flex;
		width: 350px;
		flex-direction: row;
		height: 400px;
		padding: 0%;
		transition: transform 0.8s ease-in-out;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* border: 1px soilid black; */
	}

	.carousel_slide_img2{
		display: flex;
		width: 450px;
		flex-direction: row;
		height: 400px;
		padding: 0%;
		transition: transform 0.8s ease-in-out;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* border: 1px solid black; */
	}


	.carousel_slide_img, .carousel_slide_img1{
		height: 500px;
		width: 100%;
		/* padding-left: 20px; */

	}

	.img_def{
		height: 400px;
		margin-top: -16px;
	}

	.fade_in_out, .fade_in_out{
		animation: fadeEffect 0.5s infinite;
	}



	@keyframes fadeEffect{
		0% { opacity: 1; }
		40% { opacity: 1; }
		50% { opacity: 0; }
		90% { opacity: 0; }
		100% { opacity: 1; }
	}


/* ////////////////////////////////////////////////////////////////////////////////// */
footer{
	width: 100%;
	height: 260px;
	background-color: #227598;
	padding: 0%;
	margin-top: 50px;
}

.Foo_Cont_Info1{
	align-items: start;
	height: 100%;
}

.Foo_Cont_Call{
	width: 100%;

}

.Foo_Text_Line{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Text_Call{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_Info2{
	align-items: start;
	height: 100%;
}

.Foo_Info2_Tittle{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Info2_Item{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_contac{
	align-items: end;
	width: 100px;
}

.container_footer{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Pol_esteti{
    width: 90%;
	padding: 0px;
	align-items: start;
	border: 1px solid black;
}


.Text_Pqr{
	margin-top: 20px;
	line-height: 1.2;
	width: 100%;

}

.Defi_list{
	margin-left: 20px;
	margin-top: 10px;
	width: 100%;
    align-items: start;
}

.Sepa{
	margin-left: 5px;
}

.Cot_title_Pol{
	width: 80%;
	display: flex;
	justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.float_Wha{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
  	transition: transform 0.5s ease;
}
.float_IL{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:120px;
	background-color:#0077B5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
  	z-index:100;
  	transition: transform 0.5s ease;

}

.float_IL:hover {
	transform: scale(1.1);
}

.float_Wha:hover{
	transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
footer{
	width: 100%;
	height: 260px;
	background-color: #227598;
	padding: 0%;
	margin-top: 50px;
}

.Foo_Cont_Info1{
	align-items: start;
	height: 100%;
}

.Foo_Cont_Call{
	width: 100%;

}

.Foo_Text_Line{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Text_Call{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_Info2{
	align-items: start;
	height: 100%;
}

.Foo_Info2_Tittle{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Info2_Item{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_contac{
	align-items: end;
	width: 100px;
}

.container_footer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Pqr{
	margin-top: 20px;
	line-height: 1.2;
}

.Defi_list{
	margin-left: 20px;
	margin-top: 10px;
}

.pqr_Form{
	color: #0077B5;
	transition: color 0.5s ease, transform 0.5s ease;
}

.pqr_Form:hover{
	color: #57bfd9;
    transform: scale(1.2);
}

.Sepa{
	margin-left: 5px;
}

.Cot_title_Pol{
	width: 80%;
	display: flex;
	justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Final{
	width: 100%;
	background-color: #227598;
	height: 80px;
	border-top: 2px solid #57bfd9;
}


.con_final{
	justify-content: space-around;
	align-items: center;
}

.Final_Text{
	color: white;
	font-size: 14px;
}

.Foo_Cont_sgv_contac{
	align-items: center;
	width: 20%;
	justify-content: space-between;
}



.imgSuper{
	background-image: url('../IMAGENES/COMPARTIDO/Supertransporte.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 180px;
	height: 101px;
}

.Ref_Final{
	background-color: transparent;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	text-align: start;
	padding: 0;
}

.Foo_Info2_Item:hover{
	color: #57bfd9;
	fill: #57bfd9;
}

.Tra_text,.Ter_Cont{
	margin-top: 20px;
}


.modal_Ter, .modal_aut, .modal_Pol {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
  }

  /* Contenido del modal */
  .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
	background-color: #fefefe;
	margin: 6% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	overflow-y: auto;
	height: 650px;

  }

  /* Botón de cierre */
  .close_Ter, .close_aut, .close_Pol {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .close_Ter:hover,
  .close_Ter:focus,
  .close_aut:hover,
  .close_aut:focus,
  .close_Pol:hover,
  .close_Pol:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
  }


  /* Imagen del modal */
  #modal-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
  }

  .Trb_Cont_Button{
	position: absolute;
	z-index: 3;
	top: 406px;
	right: 50px;
	text-align: start;
}


.Req_list{
	list-style: disc;
}

.Req_text{
	margin-top: 15px;
}

.Req_Cont{
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Ter_Cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Ter_text{
	width: 90%;
	margin-top: 15px;
}

@media (max-width: 1200px) {

	.Image_footer{
		display: none;
	}
	/* seccion footer

    .container_footer{
        flex-direction: column;
        padding-bottom: 20px;
    }

    footer{
        height: auto;
    }

    .Foo_Maps{
        margin-top: 50px;
    }

    .Foo_Cont_sgv_contac{
        margin-left: 0px;
        width: 50%;
    } */

    /* QR politica  */

    .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
        width: 90%;
        margin-top: 50px;
    }

    .modal_Ter, .modal_aut, .modal_Pol{
        top:30px;

    }
}

@media (max-width: 900px) {
    .container{
        width: 100%;
    }

    .header{
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .nav-wrapper {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #227598;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px;
        transition: left 0.3s ease;
        overflow-y: auto;
    }

    .nav-wrapper.active {
        left: 0;
    }

    .list {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .head_Ref {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(87, 191, 217, 0.2);
    }

    .head_Ref_Link {
        display: block;
        width: 100%;
    }

    .head_Acceso {
        margin: 20px auto;
        width: 80%;
        text-align: center;
    }

	/* seccion 1 */




	.Port_Cont_Info{

		flex-direction: column;
	}

	.Port_Text1{
    font-size: 48px;
		width: 60%;
	}

	.PortServi{
		height: 550px;
	}

	.Port_Flot{
		top: 270px;
	}

	/* Seccion 2 */

	.Servi_Item1{
		margin-top: 30px;
	}

	/* seccion 3 */


	.Cont_item_api{
		flex-direction: column;
	}

	.line{
		top: 42%;
	}

	.Text_seccion1{
		color: #57bfd9;
		font-size: 38px;
	}

	.carousel_container_img1{
		display: none;
	}


	/* Seccion footer */

	.container_footer{
        padding-bottom: 20px;
    }

    footer{
        height: auto;
    }

    .Foo_Maps{
        margin-top: 50px;
    }

    .Foo_Cont_sgv_contac{
        margin-left: 0px;
        width: 40%;
    }

	.Final_Text{
		width: 30%;
	}


    /* QR politica  */

    .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
        width: 90%;
        margin-top: 50px;
    }

    .modal_Ter, .modal_aut, .modal_Pol{
        top:30px;

    }

	.con_final{
		margin-left: 10px;
	}

}

@media (max-width: 480px){

	.container{
        width: 100%;
    }

	.header{
		width: 100%;
	}

	.Port_Cont{
		width: 100%;
	}

	.Servi_List{
		width: 50%;
		justify-content: none;
	}

	.cont_servi{
		display: flex;
		align-items: center;
	}

	.Servi_List{
		width: 100%;
	}

	.modal{
		border: 1px solid black;
		width: 100%;
	}

	.modal-content{
		border: solid black;
		top: 13%;
		left: 0;
		width: 70%;


	}

	.Api_cont_animation{
		flex-direction: column;
		align-items: center;
	}


	.Text_seccion1{
		font-size: 48px;
		width: 75%;
	}

	.Cont_seecion1{
		width: 100%;

	}

	.API{
		margin-top: 300px;
	}

	.cont_api{
		width: 100%;

	}

	.line{
		top: -8%;
		height: 820px;
		border-radius: 20px;
		
	}

	.carousel_container_img{
		right: 60px;
	}

	.container_footer{
		flex-direction: column;
		margin-top: 430px;
	}

	

	.Foo_Cont_sgv_contac{
        width: 40%;
    }

	.Final_Text{
		width: 40%;
	}

	.imgSuper{
		display: none;
	}

}






	

