html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0;
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}

.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	width: auto;
	height: auto;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;
}

a{
    color: #E7F0F8;
}

a:link{
    text-decoration: none;

}


.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-colum{
	display: flex;
	flex-direction: column;
}

.container{
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Black{
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}

.Text_Medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
.header {
            background-color: #227598;
            height: 70px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            left: 0;
        }

        .head_Cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .logo-container {
            z-index: 101;
        }

        .logo-container img {
            width: 137px;
            height: auto;
        }

        /* Menú hamburguesa */
        .menu-toggle {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            z-index: 101;
        }

        .menu-toggle span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 5px 0;
            transition: 0.3s;
        }

        .menu-toggle.active span:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .menu-toggle.active span:nth-child(2) {
            opacity: 0;
        }

        .menu-toggle.active span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }

        /* Navegación */
        .nav-wrapper {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .list {
            list-style: none;
            display: flex;
            align-items: center;
        }

        .head_Ref {
            margin-left: 30px;
        }

        .head_Ref_Link {
            color: #fff;
            text-decoration: none;
            transition: color 0.5s ease;
        }

        .head_Ref_Text {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            margin: 0;
        }

        .head_Ref:hover .head_Ref_Link {
            color: #7dcde3;
        }

        .head_Acceso {
            padding: 10px 20px;
            border: 1px solid #57bfd9;
            border-radius: 15px;
            margin-left: 20px;
        }

        .head_Acceso_link {
            color: #fff;
            text-decoration: none;
            transition: color 0.5s ease;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .head_Acceso_link p {
            margin: 0;
        }

        .head_Acceso:hover .head_Acceso_link {
            color: #57bfd9;
        }

/* ////////////////////////////////////////////////////////////////////////////////// */

.Portada{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url('../IMAGENES/TRABAJO/CHAQUETAS.png');
    width: 100%;
    height: 550px;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    margin:70px 0% 0px 0%;
}

.Cont_Port{
    align-items: center;
	margin-top: -100px;
}

.Port_Text_Medium{
    font-size: 30px;
    color: white;
	width: 80%;
	text-align: center;
}

.Port_Text_Black{

    font-size: 64px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Trab_Tiitle{
	color: #7DCDE3;
	font-size: 32px;
	width: 450px;
}
.Trab_Cont{
	width: 100%;
	justify-content: space-between;
	margin-top: 100px;
	align-items: center;
}

.Trb_input_name{
	width: 600px;
	border: none;
	border-bottom: 1px solid black;
	color: #787878;

}

.Trb_input_number{
	width: 270px;
	border: none;
	border-bottom: 1px solid black;
	color: #787878;
}

.Trb_input_number,.Trb_input_name::-webkit-input-placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

.Trb_input_number,.Trb_input_name:-moz-placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

.Trb_input_number,.Trb_input_name:-ms-input-placeholder{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

.Trb_cont_input{
	width: 100%;
	justify-content: space-between;
	margin-top: 25px;
}

.Trb_Arc_text{
	font-size: 20px;
	color: #787878;
}

.Trb_Arc_Button{
	width: 180px;
	height: 50px;
	background-color: #7DCDE3;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 20px;
	margin-top: 25px;
	margin-bottom: 10px;
}

.Trb_Arc_Button:hover{
	transform: scale(1.1);
	background-color: #227598;
}

.Trb_Arc_text_Sec{
	color: #787878;
	font-size: 16px;
	width: 230px;
	margin-top: 20px;
}

.Trb_Cont_veri{
	width: 270px;
}

.Trb_Ver_Text{
	font-size: 20px;
	color: #787878;
}

.Trb_Ver_Casi{
	margin-top: 10px;
	color: #787878;
	font-size: 16px;
	align-items: center;
	padding: 0%;
}

.Trb_Button_Send{
	width: 300px;
	height: 80px;
	background-color: #7DCDE3;
	color: white;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;
	border: none;
	border-radius: 20px;
	font-size: 30px;
	margin-top: 50px;
}

.Trb_Button_Send:hover{
	background-color: #227598;
	transform: scale(1.1);

}

.Text_Veri{
	font-size: 15px;
	margin-left: 10px;
}


.Cont_Form{
	align-items: center;
	font-size: 40px;
	margin-top: 80px;
}

.Trb_Cont_Fomr{
	align-items: center;
	justify-content: start;
	height: 100%;
	z-index: 2;
}

.Trb_cont_archi{
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Trb_Button_Req{
	font-size: 16px;
}

/* Estilos para el botón */
.Trb_Button_Req, .Trb_Button_aut{
	background-color: transparent;
	color: #787878;
	border: none;
	cursor: pointer;
	text-align: start;
	transition: color 0.5s ease, transform 0.5s ease;

  }

  .Trb_Button_Req:hover, .Trb_Button_aut:hover{
	color: #57bfd9;
	transform: scale(1.1);
  }

  /* Estilos para el modal */
  .modal_Req, .modal_aut {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
  }

  /* Contenido del modal */
  .modal-content_Req, .modal-content_aut {
	background-color: #fefefe;
	margin: 6% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;

  }

  /* Botón de cierre */
  .close_Req, .close_aut {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .close_Req:hover,
  .close_Req:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .close_aut:hover,
  .close_aut:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  /* Imagen del modal */
  #modal-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
  }

  .Trb_Cont_Button{
	border: 1px solid black;
	text-align: start;
}


.Req_list{
	list-style: disc;
}

.Req_text{
	margin-top: 15px;
}

.Req_Cont{
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Tra_Cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Tra_text{
	width: 90%;
	margin-top: 15px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */


.float_Wha{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
	transition: transform 0.5s ease;
}

.fa-whatsapp{
	border: 1px soldi black;
}
.float_IL{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:120px;
	background-color:#0077B5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
	transition: transform 0.5s ease;

}

.float_IL:hover {
	transform: scale(1.1);
}

.float_Wha:hover{
	transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
footer{
	width: 100%;
	height: 260px;
	background-color: #227598;
	padding: 0%;
	margin-top: 50px;
}

.Foo_Cont_Info1{
	align-items: start;
	height: 100%;
}

.Foo_Cont_Call{
	width: 100%;

}

.Foo_Text_Line{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Text_Call{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_Info2{
	align-items: start;
	height: 100%;
}

.Foo_Info2_Tittle{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Info2_Item{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_contac{
	align-items: end;
	width: 100px;
}

.container_footer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Pqr{
	margin-top: 20px;
	line-height: 1.2;
}



.Cot_text_pqr{

	width: 100%;
	align-items: start;

}

.Text_Pqr{
	margin-left: 20px;
}

.Defi_list{

	margin-left: 20px;
	margin-top: 10px;
}

.pqr_Form{
	color: #0077B5;
	transition: color 0.5s ease, transform 0.5s ease;
}

.pqr_Form:hover{
	color: #57bfd9;
    transform: scale(1.2);
}

.Sepa{
	margin-left: 5px;
}

.Cot_title_Pol{
	width: 80%;
	display: flex;
	justify-content: center;
}
/* ////////////////////////////////////////////////////////////////////////////////// */

.Final{
	width: 100%;
	background-color: #227598;
	height: 80px;
	border-top: 2px solid #57bfd9;
}


.con_final{
	justify-content: space-around;
	align-items: center;
}

.Final_Text{
	color: white;
	font-size: 14px;
}

.Foo_Cont_sgv_contac{
	align-items: center;
	width: 20%;
	justify-content: space-between;
}



.imgSuper{
	background-image: url('../IMAGENES/COMPARTIDO/Supertransporte.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 180px;
	height: 101px;
}

.Ref_Final{
	background-color: transparent;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	text-align: start;
	padding: 0;
	transition: color 0.5s ease;
}

.Ref_Final:hover{
	color: #57bfd9;
}

.Foo_Info2_Item:hover{
	color: #57bfd9;
	fill: #57bfd9;
}

.Tra_text,.Ter_Cont{
	margin-top: 20px;
}


.modal_Ter, .modal_aut, .modal_Pol {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
  }

  /* Contenido del modal */
  .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
	background-color: #fefefe;
	margin: 6% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	overflow-y: auto;
	height: 650px;

  }

  /* Botón de cierre */
  .close_Ter, .close_aut, .close_Pol {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .close_Ter:hover,
  .close_Ter:focus,
  .close_aut:hover,
  .close_aut:focus,
  .close_Pol:hover,
  .close_Pol:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
  }


  /* Imagen del modal */
  #modal-image {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
  }

  .Trb_Cont_Button{
	position: absolute;
	z-index: 3;
	top: 406px;
	right: 50px;
	text-align: start;
}


.Req_list{
	list-style: disc;
}

.Req_text{
	margin-top: 15px;
}

.Req_Cont{
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Ter_Cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Ter_text{
	width: 90%;
	margin-top: 15px;
}

@media (max-width: 900px) {
    .container{
        width: 100%;
    }

    /* .header{
        width: 97%;
    } */

    .menu-toggle {
                display: block;
    }

    .nav-wrapper {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #227598;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px;
        transition: left 0.3s ease;
        overflow-y: auto;
    }

    .nav-wrapper.active {
        left: 0;
    }

    .list {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .head_Ref {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(87, 191, 217, 0.2);
    }

    .head_Ref_Link {
        display: block;
        width: 100%;
    }

    .head_Acceso {
        margin: 20px auto;
        width: 80%;
        text-align: center;
    }

	.Trab_Cont{
		flex-direction: column;
	}

	.Trb_Cont_Fomr{
		margin-top: 70px;
	}

		/* Seccion footer */

	.container_footer{
        flex-direction: row;
        padding-bottom: 20px;
    }

	.Image_footer{
		display: none;
	}


    footer{
        height: auto;
    }

    /* .Foo_Maps{
        margin-top: 50px;
    } */

    .Foo_Cont_sgv_contac{
        margin-left: 0px;
        width: 40%;
    }

	.Final_Text{
		width: 30%;
	}

    /* QR politica  */

    .modal-content_Ter, .modal-content_aut, .modal-content_Pol{
        width: 90%;
        margin-top: 50px;
    }

    .modal_Ter, .modal_aut, .modal_Pol{
        top:30px;

    }

	.Foo_Maps{
		padding-top: 30px;
	}

	.con_final{
		margin-left: 10px;
	}

}

@media (max-width: 480px){
	.container{
        width: 100%;
    }

	.Trb_Cont_Fomr{
		align-items: center;
	}

	.Cont_Form{
		width: 100%;
		border: 1px solid black;
		padding-top: 20px;
		border-radius: 15px;
		padding-bottom: 20px;
	}

	.Trb_cont_input{
		margin-top: 20	px;
	}

	.Trb_input_name{
		width: 100%;
	}

	.Image_logo{
		width: 300px;
	}

	.image_traba{
		width: 300px;
	}

	.Trb_input_number{
		width: 200px;
	}


	.Trb_Arc_text1{
		font-size: 15px;
		width: 100%;

	}

	.Trb_cont_input1{
		flex-direction: column;
		align-items: center;
	}

	.Trb_Cont_veri{
		align-items: start;
		margin-top: 30px;

	}

	.Trab_Tiitle{
		width: 80%;
		text-align: center;
	}

	.Trb_input_number{
		width: 70%;
		/* border: 1px solid black; */
	}

	.Trb_input_number1{
		margin-top: 20px;
	}

	.Trb_input_name{
		width: 70%;
	}

	.Trb_cont_archi{
		width: 70%;
		margin-left: -12px;
		/* border:1px solid black; */
	}

	.Foo_Maps{
		padding-top: 30px;
	}

	.container_footer{
		flex-direction: column;
		margin-top: 430px;
	}

	.Foo_Cont_sgv_contac{
        width: 40%;
    }

	.Final_Text{
		width: 40%;
	}

	.imgSuper{
		display: none;
	}
}
