html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0; 
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}
 
.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	width: auto;
	height: auto;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;
}

a{
    color: #E7F0F8;
}

a:link{
    text-decoration: none;

}


.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-colum{
	display: flex;
	flex-direction: column;
}

.container{
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	align-items: center;
}

.Text_Black{
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}

.Text_Medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
.header{
	background-color: #227598;
	height: auto;
   	/* border-bottom: 1px solid #21f391; */
   	position: fixed; /* Fija el encabezado en la parte superior */
   	top: 0;
   	width: 100%;
   	z-index: 100;
   	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   	left: 0%;
   	padding: 0%;
   	height: 70px;
}

.head_Cont{
	justify-content: space-around;
}


.head_Ref{
	margin-left: 30px;
}

.head_Ref_Text{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.head_Ref_Link{
	transition: color 0.5s ease;

}

.head_Ref:hover{
	.head_Ref_Link{
		color: #7dcde3;
	}
}

.head_Acceso_link{
	transition: color 0.5s ease;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.head_Acceso{
	padding: 10px;
	border-radius: 15px;
	margin-right: 0px;
}

.head_Acceso:hover{
	.head_Acceso_link{
		color: #57bfd9;
	}
}

.head_Cont_list_acceso{

	width: 100%;
	margin-right: 0px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */

.Portada{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url('../images-videos/Flota.jpg');
    width: 100%;
    height: 360px;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    margin:70px 0% 0px 0%;
}

.Cont_Port{
    align-items: center;
}

.Port_Text_Medium{
    font-size: 20px;
    color: white;
}

.Port_Text_Black{
    
    font-size: 64px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.Trab_Tiitle{
	color: #7DCDE3;
	font-size: 32px;
	width: 450px;
}
.Trab_Cont{
	width: 100%;
	justify-content: space-between;
	margin-top: 100px;
	align-items: center;
}

.Trb_input_name{
	width: 600px;
	border: none;
	border-bottom: 1px solid black;
	color: #787878;

}

.Trb_input_number{
	width: 270px;
	border: none;
	border-bottom: 1px solid black;
	color: #787878;
}

.Trb_cont_input{
	width: 100%;
	justify-content: space-between;
	margin-top: 25px;
}

.Trb_Arc_text{
	font-size: 20px;
	color: #787878;
}

.Trb_Arc_Button{
	width: 180px;
	height: 50px;
	background-color: #7DCDE3;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.Trb_Arc_Button:hover{
	
}

.Trb_Arc_text_Sec{
	color: #787878;
	font-size: 16px;
	width: 230px;
}

.Trb_Cont_veri{
	width: 270px;
}

.Trb_Ver_Text{
	font-size: 20px;
	color: #787878;
}

.Trb_Ver_Casi{
	margin-top: 10px;
	color: #787878;
	font-size: 16px;
}

.Trb_Button_Send{
	width: 300px;
	height: 80px;
	background-color: #7DCDE3;
	color: white;
	transition: background-color 0.5s ease;
	transition: transform 0.5s ease;
	border: none;
	border-radius: 20px;
	font-size: 30px;
	margin-top: 50px;
}

.Trb_Button_Send:hover{
	background-color: #227598;
	transform: scale(1.1);

}


.Cont_Form{
	align-items: center;
	font-size: 40px;
	margin-top: 80px;
}

.Trb_Cont_Fomr{
	align-items: center;
	justify-content: start;
	height: 100%;
}

.Trb_cont_archi{
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* ////////////////////////////////////////////////////////////////////////////////// */


footer{
	width: 100%;
	height: 260px;
	background-color: #227598;
	padding: 0%;
	margin-top: 50px;
}

.Foo_Cont_Info1{
	align-items: center;
	height: 100%;
}

.Foo_Cont_Call{
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.Foo_Text_Line{
	color: white;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.Foo_Text_Call{
	color: white;
	font-size: 14px;
}

.Foo_Cont_Info2{
	align-items: start;
	height: 100%;
}

.Foo_Info2_Tittle{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.Foo_Info2_Item{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.Foo_Cont_contac{
	align-items: end;
	width: 100px;
}

.Foo_Cont_sgv_contac{
	align-items: center;
	width: 100%;
	justify-content: space-around;
}


/* ////////////////////////////////////////////////////////////////////////////////// */

.Final{
	width: 100%;
	background-color: #7DCDE3;
	height: 115px;
}